image: Visual Studio 2022
build: false
platform:
  - x64
clone_folder: C:\projects\filesystem

## Build matrix for lowest and highest possible targets
environment:
  PHPBuild: "x64"
  WINCACHE: "2.0.0.8"
  VC: "vs16"
  matrix:
  - php_ver_target: 8.1.14
  - php_ver_target: 8.2.1

init:
  - SET PATH=C:\Program Files\OpenSSL;C:\tools\php;%PATH%
  - SET COMPOSER_NO_INTERACTION=1
  - SET ANSICON=121x90 (121x90)

## Install PHP and composer, and run the appropriate composer command
install:
    - IF EXIST C:\tools\php (SET PHP=0)
    - ps: |
      appveyor-retry cinst php --version=$env:php_ver_target --package-parameters='""/InstallDir:C:\tools\php""' --ignore-checksums -y --no-progress --limit-output
    - cd C:\tools\php
    - copy php.ini-production php.ini /Y
    - echo date.timezone="UTC" >> php.ini
    - echo extension_dir=ext >> php.ini
    - echo extension=php_openssl.dll >> php.ini
    - echo extension=php_mbstring.dll >> php.ini
    - echo extension=php_fileinfo.dll >> php.ini
    - echo extension=php_ftp.dll >> php.ini
    - echo extension=php_gd2.dll >> php.ini
    - echo extension=php_gmp.dll >> php.ini
    - echo extension=php_pgsql.dll >> php.ini
    - echo extension=php_curl.dll >> php.ini
    - echo zend_extension=php_opcache.dll >> php.ini
    - echo opcache.enable_cli=1 >> php.ini
    - echo @php %%~dp0composer.phar %%* > composer.bat
    - php -r "readfile('http://getcomposer.org/installer');" | php
    - cd C:\projects\filesystem
    - composer update --prefer-stable --no-progress

test_script:
  - cd C:\projects\filesystem
  - vendor\bin\phpunit
